* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: monospace;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  .left {
    width: 20vw;
    height: 100vh;
    // border: 3px solid black;
    overflow: scroll;

    ul {
      li.country {
        padding: 5px;
        border-bottom: 2px solid lightcoral;
        border-radius: 5px;
        margin: 10px;
        font-size: small;
        cursor: pointer;
        display: flex;
        justify-content: left;
        align-items: center;
        .stats {
          font-weight: bold;
          margin-left: auto;
          font-size: small;
          margin-right: 10px;
          text-align: right;
        }
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }

      li.template {
        font-size: x-large;
        border: 2px solid black;
        &:hover {
          background: none;
          cursor: none;
        }
      }
    }
  }

  .right {
    overflow: hidden;
    height: 100vh;
    width: 80vw;
    // border: 3px solid black;
    position: relative;
    .mymap {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border: 3px solid black;
    }

    .long-and-lat-and-zoom {
      z-index: 10 !important;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.8);
      padding: 10px;
      color: white;
    }

    .color-info {
      z-index: 10 !important;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 10px;
      color: white;
    }
  }
}

button {
  padding: 10px;
  color: slateblue;
  border: 3px solid saddlebrown;
  color: blue;
  margin: 0;
  cursor: pointer;
}
